
<div class="container-fluid px-2 px-sm-5">
  <div *ngIf="loading" class="p-4 text-center">
    <div class="spinner-grow text-warning " role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
<div *ngIf="!loading" class="card bg-dark text-white my-2">
  <form [formGroup]="form" (ngSubmit)="(submitted=true) && form.valid && submit()">
  <div class="card-header">
    <h3>{{Profile.username}} редагування профілю</h3>
  </div>
  <div class="card-body row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <div class="card-title">
        <label class="card-text">Ім'я</label>
        <input type="text" class="form-control" formControlName="firstName">
        <div *ngIf="form.invalid && submitted">
          <div class="invalid-feedback d-block" *ngIf="form.controls['firstName'].errors?.['required']">
            Ім'я є обов'язковим до заповнення
          </div>
          <div class="invalid-feedback d-block"  *ngIf="form.controls['firstName'].errors?.['minlength']
|| form.controls['firstName'].errors?.['maxlength']">
            Ім'я повинно мати від 3 до 40 символів
          </div>
        </div>
      </div>
      <div class="card-title">
        <label class="card-text">Прізвище</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div *ngIf="form.invalid && submitted">
          <div class="invalid-feedback d-block" *ngIf="form.controls['lastName'].errors?.['required']">
            Прізвище є обов'язковим до заповнення
          </div>
          <div class="invalid-feedback d-block"  *ngIf="form.controls['lastName'].errors?.['minlength']
|| form.controls['lastName'].errors?.['maxlength']">
            Прізвище повинно мати від 3 до 40 символів
          </div>
        </div>
      </div>
      <div class="card-title">
        <label class="card-text">Номер телефону</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon">+380</span>
          <input type="text" class="form-control" formControlName="phoneNumber" aria-describedby="addon">
        </div>
        <div *ngIf="form.invalid && submitted">
          <div class="invalid-feedback d-block" *ngIf="form.controls['phoneNumber'].errors?.['required']">
            Номер є обов'язковим до заповнення
          </div>
          <div class="invalid-feedback d-block"  *ngIf="form.controls['phoneNumber'].errors?.['pattern']">
            Впишіть будь-ласка лише цифри вашого номеру без коду країни
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Зберегти</button>
      <button type="button" (click)="back()" class="btn btn-secondary mx-2">Назад</button>
    </div>
  </form>
</div>
    </div>
  </div>
</div>

