<main>
  <section class="main_banner">
    <div class="container row justify-content-center">
      <article>
        <h3>Отримуй & Допомагай</h3>
        <h1>UA Helper</h1>
        <p>
          UA Helper - це об'єднання українських волонтерів по всій країні. Ми допомагаємо людям, які через початок повномасштабної війни мусили залишити свої домівки. Долучайся до нас, та допомагай!
        </p>
      </article>
    </div>
  </section>
  <section class="what_we_do" id="whoarewe">
    <div class="container">
      <h3>Що ми робимо?</h3>
      <h4>Ми допомагаємо всім, хто постраждав від війни.</h4>
      <div class="cards justify-content-xl-between justify-content-center">
        <article>
          <div class="description">
            <h4>Покинуті міста</h4>
            <p>
              З самого початку війни тисячі людей покинули свої домівки. Люди виїжджали всіми можливими дорогами та видами трансопрту. Фото - Reuters
            </p>
            <a href="https://www.reuters.com/news/archive/ukraine" target="_blank">Читати більше</a>
          </div>
          <img ngSrc="assets/Images/last_city.jpg" alt="assets/Images" height="450" width="800">
        </article>
        <article>
          <div class="description">
            <h4>Переселенці</h4>
            <p>
              За даними мінреінтеграції, кількість внутрішньо переміщених осіб з початку війни сягнула більше 4,6 млн осіб.
            </p>
            <a href="https://www.slovoidilo.ua/2023/02/07/novyna/suspilstvo/minreintehracziyi-rozpovily-skilky-ukrayini-zareyestrovano-vnutrishno-peremishhenyx-osib" target="_blank">Читати більше</a>
          </div>
          <img ngSrc="assets/Images/test2.jpg" alt="assets/Images" height="519" width="780">
        </article>
        <article>
          <div class="description">
            <h4>Ракетні удари</h4>
            <p>
              Від початку повномасштабного вторгнення Росія завдала по території України майже 5 тис. ракетних і 3,5 тис. авіаційних ударів. Про це заявив перший секретар Постійного представництва України при міжнародних організаціях у Відні Данило Кубай під час засідання Форуму з безпекового співробітництва, передає Укрінформ.
            </p>
            <a href="https://www.reuters.com/news/archive/ukraine" target="_blank">Читати більше</a>
          </div>
          <img ngSrc="assets/Images/rockets.jpg" alt="assets/Images" height="573" width="780">
        </article>
        <article>
          <div class="description">
            <h4>Зруйновані будівлі</h4>
            <p>
              Понад 170 тисяч зруйнованих житлових будинків по всій Україні. Це – один із наслідків повномасштабної збройної агресії Росії, яка розпочалась 24 лютого минулого року. Такі дані станом на січень 2023 року наводить Міністерство розвитку громад, територій та інфраструктури України.
            </p>
            <a href="https://www.bbc.com/news/world-60525350" target="_blank">Читати більше</a>
          </div>
          <img ngSrc="assets/Images/test7.JPG" alt="assets/Images" height="596" width="780">
        </article>
      </div>
    </div>
  </section>
  <section class="sunset">
    <article>
      <h4>Допомога з житлом</h4>
      <p>
        Допомагаємо внутрішньо переміщенним особам з домівкою для родини.
      </p>
    </article>
  </section>
  <section class="leafs">
    <article class="container_leafs">
      <div>
        <h5 class="leafs_title">Гуманітарне забезпечення</h5>
        <p class="leafs_text">Допомагаємо внутрішньо переміщенним особам з життєво необхідними речами.
        </p>
      </div>
    </article>
  </section>
  <section class="logotip">
    <div class="logotip_container">
      <h3>Наші партнери</h3>
      <h4>Благодійність</h4>
      <div class="past row">
        <a href="https://savelife.in.ua/" target="_blank" class="col-12 col-md-6 col-lg-4 col-xl-2 text-center my-3 m-xl-0">
          <img ngSrc="assets/Images/Come_Back_Alive_logo%201.png" alt= "logo1" height="48" width="134">
        </a>
        <a href="https://prytulafoundation.org/" target="_blank" class="col-12 col-md-6 col-lg-4 col-xl-3 text-center my-3 m-xl-0">
          <img ngSrc="assets/Images/pritula.jpg" alt ="logo2" height="49" width="297">
        </a>
        <a href="https://dobro.privatbank.ua/" target="_blank" class="col-12 col-md-6 col-lg-4 col-xl-2 text-center my-3 m-xl-0">
          <img ngSrc="assets/Images/dopomagati.jpg" alt= "logo3" height="85" width="106">
        </a>
        <a href="https://u24.gov.ua/uk" target="_blank" class="col-12 col-md-6 col-lg-6 col-xl-3 text-center my-3 m-xl-0">
          <img ngSrc="assets/Images/UNITED24_logo%201.png" alt="logo4" height="21" width="217">
        </a>
        <a href="https://www.kolo-fund.org/" target="_blank" class="col-12 col-lg-6 col-xl-2 text-center my-3 m-xl-0">
          <img ngSrc="assets/Images/kolo.png" alt="logo5" height="39" width="147">
        </a>
      </div>
    </div>
  </section>
  <section class="himalayas">
    <article class="container_himalayas mx-3">
      <div>
        <h5 class="himalayas_title">Допомога військовим</h5>
        <p class="himalayas_text">Допомагаємо військовим з укомплектуванням та технічним забезпеченням. </p>
      </div>
    </article>
  </section>
  <section class="features">
    <article>
      <h6>Потрібна будь-яка допомога?</h6>
      <p>Звернись до нас!</p>
      <a routerLink="ticket/create">Заповнити форму</a>
    </article>
  </section>
</main>
<!--<MAPS>-->
<section class="maps" id="map">
  <div class="maps_container">
    <h3>Де ми знаходимось?</h3>
    <h4>Дивись маршрут:</h4>
    <div class="past_iframe">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.504685864067!2d35.02853560892446!3d48.46603238847989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2fcabfb3357%3A0x461668fe71a4bc26!2z0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutC40Lkg0L7QsdC70LDRgdGC0L3QvtC5INGB0L7QstC10YI!5e0!3m2!1sru!2sua!4v1681407439382!5m2!1sru!2sua" width="1800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<!--<FOOTER>-->
<footer id="footer" class="footer">
  <div class="footer_container">
    <ul class="footer_item">
      <li>
        <a href="https://u24.gov.ua/uk"  class="footer_item"><img ngSrc="assets/Images/fb.svg" alt="fb" height="30" width="30"></a>
      </li>
      <li>
        <a href="https://u24.gov.ua/uk"  class="footer_item"><img ngSrc="assets/Images/inst.svg" alt="in" height="30" width="30"></a>
      </li>
      <li>
        <a href="https://u24.gov.ua/uk"  class="footer_item"><img ngSrc="assets/Images/tw.svg" alt="tw" height="30" width="37"></a>
      </li>
         <a href="https://u24.gov.ua/uk"  class="footer_item"><img ngSrc="assets/Images/link.svg" alt="li" height="30" width="30"></a>
      <li>
    </ul>
  </div>
</footer>
